.sidebarContainer {
  min-height: 100vh;
  width: 200px;
  
  .timeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #0d6efd;
    border-radius: 5px;

    .timeIcon {
      margin-right: 5px;
    }
    
    .timeText {
      margin-left: 5px;
    }
  }
}


