.blogCard{
    background-color: rgb(170, 241, 238);
    
    margin-bottom: 8px;
}

.cardHeader {
    background-color: rgb(93, 238, 238);
    padding-right: 5px;
  display: flex;
  justify-content: space-between;
}

.blogUser {
  
}
.timestamp{
    font-size: small;
    margin: 0;
}
.headerButtons {
  float: right;
  display: flex;
}
.headerButton{
    margin-left: 4px;
    margin-right: 0;
    padding: 5px 10px;
    font-size: 16px;
    height: 80%;
    background-color: rgb(239, 194, 178);
    
}
.cross{
  font-size: 16px;
}